<div class="login-container">
    
    <div class="login-form">
        
        <header class="login-header">
            <img src="/assets/logo.jpeg" alt="Logo" class="logo">
            <span class="site-name">INVUS</span>
        </header>
        <h2>Set a password</h2>
        
        <p>Your previous password has been reseted.Please set a new password for your accound</p>
      
        <form [formGroup]="signUpForm" (ngSubmit)="onLogin()" >
            <mat-form-field appearance="outline" class="pas-field">
                <mat-label>Create Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Password" required class="input-field">
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">Password is required</mat-error>
              </mat-form-field>
              
              <mat-form-field appearance="outline" class="pas-field">
                <mat-label>Re-enter Password</mat-label>
                <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" placeholder="Confirm Password" required class="input-field">
                <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideConfirmPassword">
                  <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="signUpForm.get('confirmPassword')?.hasError('required')">Confirm Password is required</mat-error>
                <mat-error *ngIf="signUpForm.hasError('passwordMismatch')">Passwords do not match</mat-error>
              </mat-form-field>
           
            </form>
            
          
            
            <button mat-raised-button color="primary" type="submit"  (click)="onLogin()" >Set Password</button>
            
        
    </div>
    <div class="login-image">
        <img src="/assets/set-pas.jpeg" alt="Log In Image">
    </div>
</div>
